---
import BaseLayout from "@components/base/BaseLayout.astro";
import Button from "@components/common/Button.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title={t('404.title')}>
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="glass rounded-lg p-4 sm:col-10 md:col-8 lg:col-6 intersect:animate-fadeUp opacity-0">
          <h1
            class="text-[8rem] block"
          >
            404
          </span>
          <h1 class="h2 mb-4">{t('404.heading')}</h1>
          <p class="mb-8">{t('404.message')}</p>
          <Button link={`/${lang}/`} label={t('404.backToHome')} hoverInvert/>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
